@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.arrow:active span {
  text-shadow: 0 0 10px #6BF2B3, 0 0 20px #6BF2B3, 0 0 30px #6BF2B3,
    0 0 40px #6BF2B3;
}
